body {
    font-size: 14px;
}
.page-content {
    background-color: #fff;
    position: relative;
    margin: 0;
    padding: 8px 20px 24px;
}
.btn, .input-group .input-group-btn .btn {
    border-width: 1px;
}

.frontend-template .template-preview {
    width: 100%;
    border: 1px solid #eee;
}
.btn-secondary, .btn-secondary:focus {
    background-color: #428bca!important;
    border-color: #428bca;
}

.btn-default{
    background-color: #428bca!important;
    border-color: #428bca;
}
.btn-default:hover{
    background-color: #0d5fa7!important;
    border-color: #0d5fa7;
}
.btn-color{
    background-color: #428bca!important;
    border-color: #428bca;
}
.btn-color:hover{
    background-color: #0d5fa7!important;
    border-color: #0d5fa7;
}
.td-middle{

}
.table .referral-link-item td{
    vertical-align: middle;
}

.btn-group .dropdown-toggle:active{
    border-color: #428bca;
}
.actions-bar .btn-group .dropdown-toggle:focus{
    border-color: #428bca;
}
.actions-bar{
    padding: 12px 0;
}

.referral-link-item{
    color: #444;
    font-size: 17px;
}

.btn-group .btn .caret {
    margin-top: 0px;
    margin-left: 1px;
    border-width: 5px;
    border-top-color: #FFF;
}
.dropdown-menu>li a {
    font-size: 16px;
}

#pd{
    padding: 0 20px;
}
#modal{
    padding: 0 14px;
}
.bd {
    width: 111px;
    height: 130px;
    padding: 10px 0;
}
.detail .left {
    padding-right: 15px;
    position: relative;
    width: 150px;
    height: 180px;
}
.detail .left img {
    box-shadow: 0 0 3px #333;
}

.img_top_left {
    width: 70%;
    height: 60%;
}
.introduce-text {
    line-height: 25px;
    font-size: 20px;
    color: grey;
    text-indent: 2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
}
.file-input .file-caption-main {
    width: 85%;
    margin-left: 49px;
    padding-top: 35px;
}
.file-input{
	margin-top: 25px;
    padding: 0 49px;
}
.cut {
    color: #666;
    font-weight: 900;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}
.table .trstyle{
	vertical-align: middle;
    text-align: center;
}
.trstyle .checkbox{
	border: 1px solid #fff;
}